<footer class="container-fluid bg-dark">
    <div class="row p-2">
        <div class="col-4 text-left text-white">
            Social Media App
        </div>
        <div class="col-8 text-right text-white">
            Akash Pai
            <a class="pad" href="https://www.linkedin.com/in/akash-pai-858915171/">
                <img class="impad" src="../../../assets/linkedin.svg" width="30px" height="30px" alt="LinkedIn">
                <a href="https://github.com/akashpai11">
                    <img class="impad text-white" src="../../../assets/git.svg" width="30px" height="30px" alt="Github">
                </a>
                <a href="https://twitter.com/_akashpai_">
                    <img class="impad" src="../../../assets/twitter.svg" width="30px" height="30px" alt="Twitter">
                </a>
            </a>
        </div>
    </div>

</footer>